@font-face {
    font-family: Work;
    src: url(../../assets/fonts/Work_Sans/static/WorkSans-Bold.ttf) format('truetype');
}

:host {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 25px;

}

mat-form-field {

    width: 20%;

}

mat-icon {
    cursor: pointer;
}

mat-card {
    margin-top: 30px;
    width: 250px;
}

h1 {
    text-align: center;
    font-size: 2.5em;
}

.title {
    font-family: Work;
    margin: 20px 0 50px 0;
}

